.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.card_content {
  padding: 48px 38px;
  color: var(--primary-txt-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  min-width: 400px;
  min-height: 380px;
  background: #fff;
  border-radius: var(--card-border-radius);

  span {
    padding: 4px 8px;
    background-color: #e3e9f0;
    max-width: max-content;
    border-radius: 36px;
    line-height: 20px;
    font-weight: normal;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
  }
}
