.selectContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.customSelect {
  width: 100%;
  padding: 0.8rem;
  font-size: 16px;
  color: #000000;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  appearance: none;
  background: white;
  cursor: pointer;
  transition: border-color 0.3s ease;
  border-radius: 12px;
}
.select {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  color: #000000;
}
