.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  z-index: 1000;
  background-color: #1b1b29;
  img {
    width: 50px;
    height: 45px;
  }

  .header_logo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 36px;
      line-height: 0;
    }
  }

  .header_profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: var(--transition-item);
    border-radius: var(--card-border-radius);

    .header_profile__links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 25px;
      background-color: #000;
      border: none;
      z-index: 1;

      .profile_links__item {
        padding: 10px 20px;
        border-radius: var(--card-border-radius);
        transition: var(--transition-item);
      }
      .profile_links__item:hover {
        background-color: rgb(0, 0, 0);
      }
      .profile_links__item a:hover {
        color: #013fff;
      }
    }

    .header_profile__img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
    }

    .header_profile__arrow {
      width: 30px;
    }
  }
  .header_profile:hover {
    background-color: rgb(54, 54, 54);
  }

  .header_navigate {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 26px;
  }
  .header_navigate__item {
    transition: var(--transition-item);
  }

  .header_navigate__item:hover {
    transform: translateY(-5px);
  }
  Button {
    padding: 7px 15px;
  }
}
